.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9ca3af;
}
.ic-size {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}



.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: 1px #03486F;
  border: none;
}
